
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
        }
        header {
            background-color: #3498db;
            color: white;
            padding: 20px;
            text-align: center;
        }
        main {
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }
        h2 {
            color: #2980b9;
        }
        .emblematic-places {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;
        }
        .place {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .place img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .btn {
            display: inline-block;
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 10px;
        }
        .btn:hover {
            background-color: #2980b9;
        }
        .linkedin-btn {
            position: fixed;
            top: 10px;
            left: 10px;
            background-color: transparent;
            border: none;
        }
        .linkedin-btn img {
            width: 40px;
            height: 40px;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            padding: 20px;
            background-color: #f1f1f1;
        }
        header {
            background-image: url('img/palmeras.jpeg');
            background-size: cover;
            background-position: center;
            color: white;
            padding: 20px;
            text-align: center;
        }